In [2]:
import pandas as pd
import statistics as st
import numpy as np
import opendatasets as od

In [3]:
od.download("https://www.kaggle.com/datasets/uciml/iris")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  gauravgsh

Your Kaggle Key:

  ········

Downloading iris.zip to .\iris

100%|█████████████████████████████████████████████████████████████████████████████| 3.60k/3.60k [00:00<00:00, 1.23MB/s]

In [4]:
df=pd.read_csv('iris/Iris.csv')

In [5]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [7]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [10]:
summary=df.groupby('Species')['SepalLengthCm'].describe()

In [15]:
summary.reset_index()

           Species  count   mean       std  min    25%  50%  75%  max
0      Iris-setosa   50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
1  Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
2   Iris-virginica   50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [20]:
def custom_describe(x):
    mode_value=st.mode(x)
    median_value=np.median(x)
    return pd.Series([x.count(),x.mean(),x.std(),mode_value,median_value,x.min(),x.max()],index=['count','mean','std','mode','median','min','max'])

In [21]:
summary_with_mode_median=df.groupby('Species')['SepalLengthCm'].apply(custom_describe)

In [22]:
summary_with_mode_median

Species
Iris-setosa      count     50.000000
                 mean       5.006000
                 std        0.352490
                 mode       5.100000
                 median     5.000000
                 min        4.300000
                 max        5.800000
Iris-versicolor  count     50.000000
                 mean       5.936000
                 std        0.516171
                 mode       5.500000
                 median     5.900000
                 min        4.900000
                 max        7.000000
Iris-virginica   count     50.000000
                 mean       6.588000
                 std        0.635880
                 mode       6.300000
                 median     6.500000
                 min        4.900000
                 max        7.900000
Name: SepalLengthCm, dtype: float64

In [27]:
mode_summary=df.groupby('Species')['SepalLengthCm'].apply(lambda x:st.mode(x)).reset_index().rename(columns={"SepalLengthCm":'SepalLengthCm Mode'})

In [28]:
mode_summary

           Species  SepalLengthCm Mode
0      Iris-setosa                 5.1
1  Iris-versicolor                 5.5
2   Iris-virginica                 6.3

In [32]:
median_summary=df.groupby('Species')['SepalLengthCm'].median().reset_index()

In [33]:
median_summary

           Species  SepalLengthCm
0      Iris-setosa            5.0
1  Iris-versicolor            5.9
2   Iris-virginica            6.5

In [36]:
Species_stat=df.groupby('Species').describe().reset_index()

In [37]:
Species_stat

           Species    Id                                                 \
                   count   mean       std    min     25%    50%     75%
0      Iris-setosa  50.0   25.5  14.57738    1.0   13.25   25.5   37.75
1  Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75
2   Iris-virginica  50.0  125.5  14.57738  101.0  113.25  125.5  137.75

         SepalLengthCm  ... PetalLengthCm      PetalWidthCm                   \
     max         count  ...           75%  max        count   mean       std
0   50.0          50.0  ...         1.575  1.9         50.0  0.244  0.107210
1  100.0          50.0  ...         4.600  5.1         50.0  1.326  0.197753
2  150.0          50.0  ...         5.875  6.9         50.0  2.026  0.274650


   min  25%  50%  75%  max
0  0.1  0.2  0.2  0.3  0.6
1  1.0  1.2  1.3  1.5  1.8
2  1.4  1.8  2.0  2.3  2.5

[3 rows x 41 columns]

In [38]:
setosa=df[df['Species']=='Iris-setosa'].describe()

In [39]:
setosa

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [40]:
vesicolor=df[df['Species']=='Iris-versicolor'].describe()

In [41]:
vesicolor

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

In [42]:
virginica=df[df['Species']=='Iris-virginica'].describe()

In [43]:
virginica

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000